{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container border">
        <div class="row">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter
            </button>
            <div class="dropdown-menu p-3 rounded" aria-labelledby="dropdownMenuButton">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary inline mt-1 p-1">Filter</button>
              </form>
            </div>
          </div>
        </div>
        {% for resume in resumes %}
        <div class="row border border-dark rounded m-2">
          <div class="col ">
            <a href="{% url 'web-detail' resume.id %}"><h2> {{ resume.resume }} </h2></a>
          </div>
          <div class="col">
              <a class="article-title" href="{% url 'web-parse' resume.id %}"><button type="button" class="btn btn-dark mt-1">Parse</button></a>
            <a class="article-title" href="{% url 'web-delete' resume.id %}"><button type="button" class="btn btn-danger mt-1">Delete</button></a>
          </div>
          <div class="col">
            {% if resume.is_parsed == True %}
              <h2 style="color: Green;">Parsed</h2>
            {% else %}
              <h2 style="color: red;">Not Parsed</h2>
            {% endif %}  
          </div>
        </div>
        {% endfor %}

      </div>
      {% if resumes.has_other_pages %}
    <!-- Pagination -->
    <nav class="my-3 container">
        <ul class="pagination">
          {% if resumes.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{resumes.previous_page_number}}">Previous</a></li>
          {% endif %}
          {% for i in resumes.paginator.page_range %}
          {% if resumes.number == i %}
          <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
          {% endif %}
          {% endfor %}
          {% if resumes.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{resumes.next_page_number}}">Next</a></li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
{% endblock content %}