{% extends "layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock style %}
{% block content %}
    <button class="btn btn-rounded theme" id="chk">
    <i class="bi bi-moon" id="moon"></i>
    <i class="bi bi-brightness-high" id="sun""></i>
    </button>
    <a href="{% url 'web-home'%}" id="home"><h3>&lt; Back</h3></a>
    <div class="container">
        <div class="row">
            <div class="col" id="bdr">
                <div class="form-group" id="resume">
                    <textarea class="form-control" rows="25" disabled id="disabled">{{ data.text }}</textarea>
                </div>
            </div>
            <div class="col">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <button type="submit" class="btn button">Update</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'javascript/darkmode.js' %}"></script>
{% endblock content %}